# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Virtual environments
venv/
env/
ENV/
.venv/

# Pytest cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# IDEs
.idea/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
